@import '~foundation-sites/scss/util/util';

.modal_content {
  position: absolute;
  background-color: #fff;
  border: none;
  overflow: none;
  padding: 0;
  bottom: unset;
  min-height: 40%;
  width: 95%;
  height: 90vh;
  max-height: 800px;
  max-width: 1300px;
  // box-shadow: 0 0 10px rgb(41 57 77 / 4%);
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%) translateY(-50%) !important;
}

@include breakpoint(large) {
  .modal_content {
    margin: auto;
  }
}

@include breakpoint(medium) {
  .modal_content {
    border-radius: 20px;
    overflow: hidden;
  }
}

@include breakpoint(small down) {
  .modal_content {
    width: 100%;
    height: 100%;
    max-height: unset;
  }
}
