@import "../../styles/variables";

.card_frame {
  width: 305px;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #F1F2F4;
  border-radius: 5px 3px 5px 5px;
  height: 192px;
  position: relative;

  &:hover {
    background: #F3FAFF;
    border: 1px solid #C7E8FE;
    box-shadow: 0px 4px 10px rgba(41, 57, 77, 0.1);
    .card_actions {
      opacity: 1;
    }
  }
}

.card_content {
  width: 84%;
}

.card_header {
  display: flex;
  margin: 15px 0px 0px 16px;
  > svg {
    min-width: 32px!important;
  }
}
.card_info{
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;

  &_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #29394D;
    margin-bottom: 5px;
  }
  &_link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    > svg {
      min-width: 12px!important;
      margin-right: 5px;
    }
    span {
      width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.card_body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6D7F92;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 9px 0px 20px 12px;
  position: absolute;
  width: 255px;
  bottom: 55px;
}

.card_footer {
  bottom: 8px;
  width: 285px;
  display: flex;
  margin: 0px 10px;
  flex-direction: column;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #6D7F92;

  &_tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    &_scoop {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 22px;
      width: 71px;
      border: 1px solid #F1F2F4;
      border-radius: 5px 3px 5px 5px;
      padding: 2px 5px;
    }
    &_tag {
      padding: 2px 5px;
      height: 20px;
      border-radius: 5px;
      color: #FFFFFF;
      margin-right: 5px;
    }
  }
}

.card_actions{
  padding: 13px 0px;
  opacity: 0;
  transition:opacity 1s;
  .card_action {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.5px solid #C7E8FE;
    box-shadow: 0px 4px 10px rgba(41, 57, 77, 0.1);

    &_activated {background: #18A0FB;}
    &_danger {
      border: 0.5px solid #FEB5BB;
      svg {
        path {
          fill: red;
        }
      }
    }
  }
  & > :first-child {
    z-index: 6;
    svg {
      z-index: 7;
    }
  }
  & > :nth-child(2) {
    top: -9px;
    z-index: 5;
    svg {
      z-index: 6;
    }
  }
  & > :nth-child(3) {
    top: -15px;
    z-index: 4;
    svg {
      z-index: 5;
    }
  }
  & > :nth-child(4) {
    top: -25px;
    z-index: 3;
    svg {
      z-index: 4;
    }
  }
  & > :nth-child(5) {
    top: -35px;
    z-index: 2;
    // right: 30px;
    svg {
      z-index: 3;
    }
  }
}