.button {
  border: none;
  color: white;
  //padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 230px;
  height: 40px;
  svg {
    margin-right: 12px;
  }
}

.primary {
  background: #18a0fb;
}
.secondary {
  background: #e7e7e7;
  svg *{
    stroke: #e7e7e7;
  }
}
.success {
  background: #4caf50;
  svg *{
    stroke: #4caf50;
  }
}
.danger {
  background: #f44336;
  svg *{
    stroke: #f44336;
  }
}
