$tab-button-height: 54px;
.tabs {
  nav {
    text-align: center;
  }
  button {
    cursor: pointer;
    text-transform: uppercase;

  }
}
.simple {
  border-bottom: 1px solid #F1F2F4;

  button {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #6D7F92;
    padding: 15px 25px 10px;
  }

  button.active {
    color: #18A0FB;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .primary {
    color: #18a0fb;
    border-bottom: 3px solid  #18a0fb;
  }
  .secondary {
    color:  #e7e7e7;
    border-bottom: 3px solid  #e7e7e7;
  }
  .success {
    color: #4caf50;
    border-bottom: 3px solid  #4caf50;
  }
  .danger {
    color: #F7953E;
    border-bottom: 3px solid  #f44336;
  }
  .warning {
    color: #F7953E;
    border-bottom: 3px solid  #F7953E;
  }
}
.notsimple {
    position: relative;
    nav {
      position: absolute;
      top: -$tab-button-height/2;
      left: 0;
      right: 0;
      font-size: 15px;

      button {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(41, 57, 77, 0.1);
        border-radius: 5px;
        margin: 0 10px;
        display: inline-block;
        position: relative;
        width: 206px;
        height: $tab-button-height;
        font-style: normal;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #18A0FB;
        outline: none;
        transition: box-shadow .2s, transform .2s;

        &:hover {
          box-shadow: 2px 2px 11px rgba(41, 57, 77, 0.05);
          transform: scale(0.99);
        }
      }

      .primary {
        background: #18a0fb;
        color: #fff;
        border: 1px solid #EEF6FF;

      }
      .secondary {
        background: #e7e7e7;
        color: #fff;
        border: 1px solid #EEF6FF;
      }
      .success {
        color: #fff;
        border: 1px solid #EEF6FF;
        background: #4caf50;
      }
      .danger {
        background: #f44336;
        color: #fff;
        border: 1px solid #EEF6FF;
      }
      .warning {
        background: #F7953E;
        color: #fff;
        border: 1px solid #EEF6FF;
      }

      .themedanger{
          color: #F7953E;
        }
      .themeprimary{
        color: #18a0fb;
      }
      .themewarning{
        color: #F7953E;
      }
      .themesuccess{
        color: #4caf50;
      }
      .themesecondary {
        color:  #e7e7e7;
      }
    }

}
