@import "../../styles/variables";

.version {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  color: #2495e1;
  background-color: #f3faff;
  border-color: #c7e8fe;
  border-radius: 5px;
  z-index: 1;
  width: fit-content;
  span {
    margin: 0 4px;
    height: 24px;
  }
}

.article {
  font-family: Roboto;
  // width: 309px;
  // height: 254px;
  .fetching_content {
    position: relative;
    // height: 216px;
  }

  .content {
    // width: 309px;
    // height: 216px;

    padding: 14px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #f8f9fa;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(41, 57, 77, 0.72);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background: linear-gradient(
        0deg,
        rgba(41, 57, 77, 0.9) 0%,
        rgba(41, 57, 77, 0.72) 35.42%,
        rgba(85, 85, 85, 0.09) 67.71%,
        rgba(41, 57, 77, 0) 100%
      );
      border-radius: 5px;
    }
  }

  .category {
    height: 20px;

    position: relative;
    z-index: 1;

    padding: 0 14px;
    margin-bottom: auto;
    margin-left: auto;
    background: #7da0fb;
    border-radius: 2px;

    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
  }

  .title {
    position: relative;
    z-index: 1;
    text-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
    margin-bottom: 20px;
    font-family: Roboto;
    width: 100%;

    max-height: 2 * 18px * 1.266;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    h3 {
      color: #ffffff;
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.266;

      i {
        color: #f7953e;
        font-weight: bold;
      }
    }
  }
}
.meta {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 7px;
  span {
    color: #fff;
    background-color: rgb(253, 39, 39);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 0.25rem;
    margin-right: 5px;
    height: 18px;
    display: flex;
    align-items: center;
  }
  .community {
    position: relative;
    z-index: 1;
    height: 20px;
    border-left: 3px solid #7da0fb;
    padding-left: 6px;
    //margin-bottom: 7px;
    font-size: 14px;
    line-height: 20px;
    color: #f8f9fa;

    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.default {
  .authorsContainer {
    margin-bottom: 4px;
  }
  .actionsContainer {
    color: #fff;
  }
  .actions {
    border-top: 1px solid rgba(109, 127, 146, 0.4);
  }
  .content {
    min-height: 216px;
  }

  &.large {
    .title {
      max-height: 2 * 22px * 1.266;
      margin-bottom: 14px;

      h3 {
        font-size: 20px;
      }
    }
  }
}
.status {
  width: 100px;
  height: 22px;
  background: #fafbfb;
  box-shadow: 0px 4px 10px rgba(41, 57, 77, 0.1);
  border-radius: 30px;
  padding-left: 30px;
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 14px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: rgba(109, 127, 146, 0.5);
    transform: translateY(-50%);
  }
  &.published::before {
    background: #2495e1;
  }
  &.ready::before {
    background: #ffaf10;
  }
  &.scheduled::before {
    background: #62deb0;
  }
}
.buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 104px;
  text-align: center;
  z-index: 10;

  button {
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    margin: 6px;
    color: #fff;
    background: #18a0fb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.btn-delete {
  background: #ff636e !important;
}
.fetching_img {
  height: 216px;
}
.fetching_category {
  position: absolute;
  top: 0;
  right: 0;
}
.fetching_avatar {
  display: flex;
  align-items: center;
  height: 30px;
  > * {
    margin-right: 5px;
  }
}
.publishedAt {
  position: absolute;
  top: -20px;
  right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: right;

  color: #6d7f92;
}
.actionsContainer > div {
  position: relative;
  display: flex;
}
.actions {
  z-index: 1;
  border-top: 1px solid rgba(109, 127, 146, 0.1);
  padding-top: 10px;
}

.stat {
  cursor: pointer;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 5px 0;
  i {
    font-size: 12px;
  }
  span {
    margin-left: 6px;
  }
}
.sharePopup {
  position: absolute;
  top: -50px;
  left: 50%;
  display: flex;
  padding: 5px 10px;
  transform: translateX(-50%);

  background: rgba(241, 242, 244, 1);
  border-radius: 5px;
  border: 1px solid #fff;
  .action {
    width: 32px !important;
    height: 32px;
    border-radius: 50px;
    background-color: #fff;
  }
}
.action {
  position: relative;
  cursor: pointer;
  width: 20%;
  height: 30px;

  background: rgba(41, 57, 77, 0.3);
  border-radius: 5px;

  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f1f2f4;

  &:not(:last-child) {
    margin-right: 14px;
  }

  i {
    font-size: 14px;
    // opacity: 0.7;
  }
}

.activeAction {
  background: #29394d;
  border: 0.5px solid rgba(199, 232, 254, 0.1);
  color: #18a0fb;
  cursor: pointer;

  .actionCount,
  svg {
    opacity: 1;
  }
}

.isExternal {
  margin-bottom: 4px;
  i {
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 34px;
    display: block;
    font-size: 20px;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.authorsContainer {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: calc(100% - 100px);
  // height: 34px;
  margin-bottom: 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  &_width {
    width: 100%;
  }

  ul {
    display: flex;
    width: max-content;
  }
  li {
    padding-right: 10px;
  }
}

.smallBH {
  .content {
    height: 318px;
  }
  .action {
    width: 45px;
  }
}
.medium {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 20rem;
  }
  .action {
    width: 45px;
  }
}
// Large article
.large {
  width: 100%;
  .fetching_img {
    height: 485px;
  }
  .content {
    width: 100%;
    height: 485px;
  }

  .community {
    font-size: 16px;
  }

  .summary {
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    color: #f8f9fa;
    margin-bottom: 14px;
    max-height: 3 * 12px * 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .action {
    width: 45px;
  }
}

// Template 2
.articleTemplate2 {
  .hasActions {
    &:hover {
      &::before {
        top: 35%;
        left: 0;
        width: 100%;
        height: 65%;
        background: rgba(41, 57, 77, 0.05);
      }
    }
  }
}
.articleTemplate2,
.articleTemplate4 {
  .content {
    position: relative;
    height: 20rem;
    background-color: #ffffff;
    padding: 1rem;
  }

  .category {
    font-size: 12px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    padding: 4px 14px;
    margin-bottom: auto;
    margin-left: auto;
    background: #eee;
    border-radius: 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
  }

  /*.community {
    position: relative;
    z-index: 1;
    height: 20px;
    border-left: 3px solid #eee;
    color: #3c4e64;
    padding-left: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/
  .meta {
    margin: 20px 0;
    .community {
      color: #3c4e64;
    }
  }

  .title {
    margin-bottom: 20px;
    font-family: Roboto;

    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    h3 {
      text-align: left;
      color: #29394d;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.266;

      i {
        color: #f7953e;
        font-weight: bold;
      }
    }
  }

  .summary {
    position: relative;
    height: 5rem;
    overflow-y: auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    color: #3c4e64;
    margin-bottom: 14px;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  // .actionsContainer {
  //   position: absolute;
  //   bottom: 15px;
  //   left: 1rem;
  // }

  .action {
    background-color: #f8f9fa;
    color: #6d7f92;
  }

  .activeAction {
    background: #f3faff;
    border: 0.5px solid rgba(199, 232, 254, 0.5);
    color: #18a0fb;
  }

  .authorsContainer {
    margin-bottom: 4px;
  }
}
// End Template 2

// Template 3
.articleTemplate3 {
  .row {
    display: flex;
  }
  .col6 {
    width: 50%;
  }
  .contentImg {
    position: relative;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.hasActions {
  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(41, 57, 77, 0.4);
    }
    .buttons {
      display: block;
    }
  }
}
// End Template 3

// Template 4
.articleContainer {
  position: relative;
}
.articleTemplate4 {
  .contentImg {
    height: 216px;
    width: 100%;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}

// End Template 4

// Template 5

.articleTemplate5 {
  &.smallImg1 {
    .articleContainer {
      .contentImg {
        height: 230px;
      }
      .content {
        .title h3 {
          font-size: 19px;
        }
      }
    }
  }
  &.smallImg2 {
    .articleContainer {
      .contentImg {
        height: 210px;
      }
      .content {
        .title h3 {
          font-size: 19px;
        }
      }
    }
  }
  &.smallImg3 {
    .articleContainer {
      .contentImg {
        height: 190px;
      }
      .content {
        .title h3 {
          font-size: 19px;
        }
      }
    }
  }
  .version {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    border-radius: 5px 0 0 5px;
  }
  .articleContainer {
    height: 528px;
    background-color: #fff;
    border-radius: 5px;
    .contentImg {
      height: 266px;
      width: 100%;
      background-color: #eee;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      padding: 5% 4%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .content {
      height: calc(100% - 266px);
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      .meta {
        span {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #6d7f92;
        }
        .community {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;

          color: #6d7f92;
        }
      }
      .title h3 {
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #29394d;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 3; /* number of lines to show */
        // line-clamp: 3;
        // -webkit-box-orient: vertical;
      }
      // .authorsContainer {
      //   margin-top: auto;
      // }
    }
  }
  .publishedAtReadTime {
    margin: 0 0 10px;
  }
  .bottomAction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5%;
  }
}
.categoryChannel {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .category {
    height: 20px;
    width: fit-content;
    position: relative;
    z-index: 1;
    padding: 0 14px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    white-space: nowrap;
    // max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
  }
  .channel {
    width: 58px;
    height: 34px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: #faf9fa;
  }
}
.publishedAtReadTime {
  width: 100%;
  position: relative;
  margin: 10px 0;
  font-size: 10px;
  line-height: 12px;
  color: #6d7f92;
  display: flex;

  .readTime {
    display: flex;
    align-items: center;
    padding-left: 2%;
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #6d7f92;
      margin: 0% 5% 0 2%;
    }
    span {
      width: 90px;
    }
  }
}
.userActions {
  width: 100%;
  hr {
    background-color: rgba(216, 221, 226, 0.51);
    border: 0;
    height: 1px;
    margin: 0;
  }
  .actions {
    display: flex;
    align-items: center;
    border: none;

    .likesActive {
      svg {
        color: #c70039 !important;
      }
    }
    .likes,
    .comments {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;

      svg {
        color: #d8dde2;
      }

      &:hover svg {
        color: #6d7f92;
      }
    }
    svg {
      margin-right: 4px;
    }
    .share {
      position: relative;
      margin-left: auto;
      span {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #6d7f92;
        cursor: pointer;
      }
      .sharePopup {
        position: absolute;
        top: -50px;
        left: -50%;
        display: flex;
        padding: 5px 10px;
        transform: translateX(-50%);

        background: rgba(241, 242, 244, 1);
        border-radius: 5px;
        border: 1px solid #fff;
        .action {
          width: 32px !important;
          height: 32px;
          border-radius: 50px;
          background-color: #fff;
        }
      }
    }
  }
}
// End Template 5

// Template 6
.articleTemplate6 {
  .articleContainer {
    height: 528px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    .contentImg {
      height: 100%;
      width: 46%;
      background-color: #eee;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
    }
    .content {
      width: 54%;
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .meta {
        margin-top: auto;
        span {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #6d7f92;
        }
        .community {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;

          color: #6d7f92;
        }
      }
      .title h3 {
        margin: 4% 0%;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #29394d;
      }
      .summary {
        max-height: 20%;
        overflow: scroll;
        margin-bottom: 6%;
        padding-bottom: 3%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6d7f92;
      }
    }
  }
}
// End Template 6

// Template 7
.articleTemplate7 {
  .articleContainer {
    height: 528px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    .contentImg {
      height: 100%;
      width: 100%;
      background-color: #eee;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      .categoryChannel,
      .meta,
      .title,
      .authorsContainer,
      .publishedAtReadTime,
      .userActions {
        position: relative;
      }
      .meta {
        margin-top: 10rem;
        // margin-bottom: 0;
        span {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #f1f2f4;
        }
        .community {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;

          color: #f1f2f4;
        }
      }
      .title h3 {
        color: #fff;
        // margin: 4% 0%;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
      .authorsContainer ul li .avatarContainer .avatarInfo .avatarName {
        display: none;
      }
      .publishedAtReadTime {
        color: #f1f2f4;
        .readTime .dot {
          background-color: #f1f2f4;
        }
      }
      .userActions {
        hr {
          border-color: #d8dde2;
        }
        .actions {
          .likes,
          .comments {
            color: #f1f2f4;
          }
          .share span {
            color: #f1f2f4;
          }
        }
      }
    }
    .contentImg::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(9, 22, 38, 0.6),
        rgba(9, 22, 38, 0.6)
      );
      border-radius: 5px;
    }
  }
  .bottomAction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .version {
    position: absolute;
    top: 50px;
    display: none;
  }

  .buttons {
    top: 20%;
    left: 0;
    transform: none;
    width: 100%;
  }

  .hasActions {
    &:hover {
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.large {
    .articleContainer {
      .contentImg {
        .title h3 {
          font-size: 28px;
          line-height: 33px;
          -webkit-line-clamp: 5;
        }
      }
    }
  }
}
.expert {
  .articleContainer {
    height: 21.5rem;
    .contentImg {
      .meta {
        margin-top: 1.313rem;
      }
    }
  }
}
// End Template 7

// Template 8
.articleTemplate8 {
  .articleContainer {
    height: 296px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    .contentImg {
      height: 100%;
      width: 25%;
      background-color: #eee;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
    }
    .content {
      width: 75%;
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .meta {
        span {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #6d7f92;
        }
        .community {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;

          color: #6d7f92;
        }
      }
      .title h3 {
        margin: 5px 0;
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #29394d;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .authorsContainer {
        margin-top: auto;
      }
      .publishedAtReadTime {
        margin: 2% 0%;
      }
      .userActions {
        .likes,
        .comments {
          width: 10%;
        }
      }
    }
  }
}
// End Template 8

// Featured 7
.articleFeatured {
  // .title {
  //   position: absolute !important;
  //   bottom: 170px;
  //   width: 70%;
  // }
  .articleContainer {
    height: 528px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    .contentImg {
      height: 100%;
      width: 100%;
      background-color: #eee;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      position: relative;
      .categoryChannel,
      .meta,
      .title,
      .authorsContainer,
      .publishedAtReadTime,
      .userActions {
        position: relative;
      }
      .metaBox {
        position: absolute;
        bottom: 170px;
        width: 70%;
      }
      .meta {
        margin-top: 10rem;
        // margin-bottom: 0;
        span {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #f1f2f4;
        }
        .community {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;

          color: #f1f2f4;
        }
      }
      .title h3 {
        font-size: 28px;
        line-height: 33px;
        -webkit-line-clamp: 5;
        color: #fff;
        // margin: 4% 0%;
        text-align: left;
        font-weight: 600;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
      .authorsContainer ul li .avatarContainer .avatarInfo .avatarName {
        display: none;
      }
      .publishedAtReadTime {
        color: #f1f2f4;
        .readTime .dot {
          background-color: #f1f2f4;
        }
      }
      .userActions {
        hr {
          border-color: #d8dde2;
        }
        .actions {
          .likes,
          .comments {
            color: #f1f2f4;
          }
          .share span {
            color: #f1f2f4;
          }
        }
      }
    }
    .contentImg::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(9, 22, 38, 0.6),
        rgba(9, 22, 38, 0.6)
      );
      border-radius: 5px;
    }
  }
  .bottomAction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .version {
    position: absolute;
    top: 50px;
    display: none;
  }

  .buttons {
    top: 20%;
    left: 0;
    transform: none;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hasActions {
    &:hover {
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// End Template Featured

@media screen and (max-width: 39.9375em) {
  .articleTemplate3 {
    .row {
      flex-direction: column;
    }
    .contentImg {
      height: 216px;
    }
    .col6 {
      width: 100%;
    }
  }

  .articleTemplate2,
  .articleTemplate4 {
    .content {
      height: 100%;
    }
  }

  .article,
  .articleTemplate2,
  .articleTemplate3,
  .articleTemplate4 {
    margin-bottom: 1.625rem;
  }

  .articleTemplate3 .articleTemplate2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .articleTemplate6 .articleContainer .content {
    padding-bottom: 3%;
  }
  .articleTemplate6 .articleContainer {
    .contentImg {
      display: none;
    }
    .content {
      width: 100%;
      height: 100%;
      .summary {
        max-height: 30%;
      }
    }
  }
  .articleTemplate8 .articleContainer {
    flex-direction: column;
    height: 528px;
    .contentImg {
      width: 100%;
      height: 40%;
    }
    .content {
      width: 100%;
      height: 60%;
      .userActions {
        .likes,
        .comments {
          width: 13%;
        }
      }
    }
  }
  .userActions .actions {
    padding: 2%;
  }
}
@media screen and (max-width: 768px) {
  .articleTemplate6 .articleContainer .content {
    padding-bottom: 3%;
  }
  .articleTemplate6 .articleContainer {
    .contentImg {
      display: none;
    }
    .content {
      width: 100%;
      height: 100%;
      .summary {
        max-height: 30%;
      }
    }
  }
  .articleTemplate8 .articleContainer {
    flex-direction: column;
    height: 528px;
    .contentImg {
      width: 100%;
      height: 40%;
    }
    .content {
      width: 100%;
      height: 60%;
      .userActions {
        .likes,
        .comments {
          width: 13%;
        }
      }
    }
  }
  .userActions .actions {
    padding: 2%;
  }
}

@media screen and (max-width: 440px) {
  .articleTemplate6 .articleContainer {
    .contentImg {
      display: none;
    }
    .content {
      width: 100%;
      height: 100%;
      .summary {
        max-height: 30%;
      }
    }
  }
  .articleTemplate8 .articleContainer {
    flex-direction: column;
    height: 528px;
    .contentImg {
      width: 100%;
      height: 40%;
    }
    .content {
      width: 100%;
      height: 60%;
      .userActions {
        .likes,
        .comments {
          width: 13%;
        }
      }
    }
  }
  .userActions .actions {
    padding: 2%;
  }
}
