@import "./variables";

// foundation grid class only
@import "base/foundation.scss";

@import "base/icons.scss";

html {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-body-font;
  font-weight: normal;
  color: $main-color;
  font-size: 16px;
  line-height: 22px;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-body-font;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotating {
  animation: rotation 1s infinite linear;
}

/* Bouncing entrances  */
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__bounceIn {
  -webkit-animation-duration: calc(1s * 0.75);
  animation-duration: calc(1s * 0.75);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.sun-editor .se-tooltip .se-tooltip-inner {
  z-index: 9999 !important;
}

.sun-editor-editable {
  padding: 16px 10px !important;
}
.sun-editor-editable,
.editorBox {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important ;
  color: #29394d !important;
  font-size: 16px !important;
  line-height: 22px !important;
  background-color: transparent !important;

  p {
    margin-bottom: 16px !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin: 1rem 0 !important;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  h5 {
    font-size: 16px;
    line-height: 22px;
  }
  h6 {
    font-size: 14px;
    line-height: 20px;
  }
  table {
    width: 100% !important;
  }
  blockquote {
    color: #8a8a8a !important;
    border-width: 0 0 0 1px;
    border-color: #cacaca;
  }
}

#ttp-adeditor {
  .sun-editor-editable {
    font-family: $main-body-font !important;
    color: #29394d !important;
    font-size: 16px !important;
    line-height: 22px !important;
    padding: 1.5rem !important;
    background-color: transparent !important;

    p {
      margin-bottom: 16px !important;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      margin: 1rem 0 !important;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
    }
    h4 {
      font-size: 18px;
      line-height: 24px;
    }
    h5 {
      font-size: 16px;
      line-height: 22px;
    }
    h6 {
      font-size: 14px;
      line-height: 20px;
    }
    table {
      width: 100% !important;
    }
    blockquote {
      color: #8a8a8a !important;
      border-width: 0 0 0 1px;
      border-color: #cacaca;
    }
    li {
      font-weight: normal;
    }
  }
}
