@import '~foundation-sites/scss/util/util';

$bg-color: var(--bg-color, #f4f7f9);

.steps_content {
  overflow-y: scroll;
  flex: 1;

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #29394d;
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    color: #29394d;
  }

  h5 {
    font-weight: normal;
    font-size: 14px;
    color: #29394d;
  }
}

@include breakpoint(small only) {
  .steps_content {
    background-color: $bg-color;
  }
}
