.customisedSlide {
  .description {
    color: #fff;
    text-shadow: 0px 2px 10px rgba(41, 57, 77, 0.1);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
