@import "../../styles/variables";

.header {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #29394d;
  background-color: #fff;
  font-weight: 500;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  position: relative;
  // height: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    color: #29394d;
  }
}

.headerLeft {
  display: flex;
  position: relative;
  z-index: 105;
}

.headerRight {
  display: flex;
  margin-left: auto;
  background-color: #fff;
}

.appInfo {
  padding: 0.45rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 12rem;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
  color: $pickled-bluewood;
  font-size: 18px;
  font-family: $main-body-font;
  text-transform: initial;
}

.appLogo {
  height: 3rem;
  margin: 0 0.75rem;
}

.appName {
  font-family: Roboto, Segoe UI, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: none;
}

.expandable {
  position: relative;

  &::before {
    position: absolute;
    bottom: -0.6rem;
    left: calc(50% - 0.5rem);
    z-index: 6;
    background: transparent;
    border-right: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #f1f2f4;
  }

  &:hover {
    &::before {
      content: "";
    }
  }
}

.dropdown {
  top: 100%;
  right: 1rem;
  padding: 0;
  width: 20rem;
  background: #f1f2f4;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  z-index: 1005;
  cursor: default;
}

.menuLink {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;

  margin: 0 0.1rem;
  transition: 0.2s all ease-in-out;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #f1f2f4;
  }

  a,
  span {
    display: flex;
  }
}

.headerLanguages {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 500;
  margin-right: 0.5rem;

  li {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: $portal-new-blue;
    border: 1px solid $portal-new-light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.2s font-size ease-in-out;

    &:hover,
    &.headerLanguageSelected {
      background-color: $portal-new-blue;
      color: #fff;
    }
  }
}

.signIn {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  color: $new-title-color;
  font-weight: 500;
  text-transform: none;
  font-size: 0.9rem;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: nth($transitions, 2);

  &:hover {
    color: $main-blue;
  }
}

.boxes__box__logo {
  height: 5rem;
  width: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  margin-bottom: 10px;
}
nav {
  li {
    cursor: pointer;

    .menu__link {
      padding: 0 1rem;
      background-color: $new-very-light-gray;
      color: $portal-color;
    }
    &:hover .menu__link {
      color: #2c2b3f;
    }
  }
}
.menuLogo {
  padding: 0;
  position: relative;
  align-items: center;
  display: flex;
  z-index: 2;
  cursor: pointer;
  width: 15rem;
  min-height: 64px;
  user-select: none;

  .settingsIcon {
    color: $pickled-bluewood;
    padding: 20px 16px 16px 14px;
    font-size: 1.5rem;
  }

  img {
    height: 2.8rem;
    margin: 0 10px;
  }

  .name {
    color: $pickled-bluewood;
    font-size: 18px;
    font-family: $main-body-font;
    text-transform: initial;
  }

  &.shadow {
    transition: 0.2s all ease-in-out;
  }

  .iconOptions {
    transform: rotate(90deg);
    margin-right: $spacing-s;
    cursor: pointer;
  }

  .menuDropdown {
    text-align: center;
    font-family: $main-body-font;
    font-weight: 500;
    font-size: 12px;
    color: $pickled-bluewood;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    width: 100%;

    li {
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $pickled-bluewood;
        padding: $spacing-s 0;
        line-height: 1.6;
      }

      &::after {
        content: "";
        display: block;
        left: 0.75rem;
        right: 0.75rem;
        top: 0;
        height: 1px;
        position: absolute;
        background: #f8f9fa;
      }

      &:hover {
        background: $athens-gray-lighter;
        a {
          color: $dodger-blue;
        }
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}

.menuDropdown {
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0 4px 4px rgba(41, 57, 77, 0.1);
  border-radius: 0 0 4px 4px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  // transition: all 0.2s ease-in-out;
  padding: 0 2rem 1rem;
  background: #fff;
  z-index: 1005;
  width: 24rem;
}

.menu a {
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}

.menu {
  margin: 0 1.3rem !important;
  align-items: center;

  .menuImg {
    padding: 0.5rem;
  }
  .e-box-li {
    width: 2.8rem;
    overflow: hidden;
    height: 2.8rem;
    border-radius: 2rem !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    &:hover {
      &:before {
        position: relative !important;
      }
    }
    &.active-e-box {
      background-color: #e1e1e4;
    }
    .badge-new {
      margin-bottom: 0.75rem;
      margin-left: -3.7rem;
      border-bottom-right-radius: 0;
    }
    img {
      margin: 0;
      width: 1.6rem;
    }
  }
  & > li {
    padding: 0.8rem 1rem;
    border-radius: 2rem 2rem 0 0;
    transition: nth($transitions, 2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;

    a img {
      margin-right: 0;
    }

    .icon {
      margin-right: 0.4rem;
    }
    & > span {
      font-size: 1.3rem;
      &.dotted:before {
        top: 21%;
        right: 27%;
      }
    }

    &:hover {
      background-color: $athens-gray;
      img {
        opacity: 0.85;
      }

      .badge {
        visibility: hidden;
      }

      &.expandable:after {
        content: " ";
        position: absolute;
        bottom: 0px;
        z-index: 6;

        bottom: -0.6rem;
        left: calc(50% - 7px);
        z-index: 6;
        background: transparent;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 7px solid $athens-gray;
      }
      .menuDropdown,
      .socialLinksWrapper {
        opacity: 1;
        visibility: visible;
      }
    }
    .badge {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $coral-red;
      font-family: $main-body-font;

      display: inline-block;
      min-width: 1.3rem;
      padding: 0.2rem;
      border-radius: 50%;
      font-size: 0.7rem;
      text-align: center;
      color: #fefefe;
      font-weight: 700;
      transition: visibility 0.2s ease-in-out;
      line-height: 1.4;
    }
  }
}

.buttons {
  display: flex;
  margin: 0 3px 0 0 !important;
  align-items: center;
  font-size: 1.5rem;

  .buttonLink {
    border: 1px solid #29394d;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    height: 36px;
    width: auto;
    margin-right: 0.6rem;
    background-color: #ffffff;
    &.back_office_clicked {
      background-color: #29394d;
      a {
        color: white;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    svg {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }

  .notif {
    .menuDropdown,
    .socialLinksWrapper {
      right: -75px;
      a {
        display: block;
      }
    }

    &.notifDot:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background-color: #2495e1;
      border: 2px solid #fff;
      border-radius: 50%;
      position: absolute;
      right: 8px;
      top: 9px;
    }
  }

  .ebox {
    .menuDropdown,
    .socialLinksWrapper {
      right: calc(-75px - 49px * 2);
    }
  }

  .apps {
    .menuDropdown,
    .socialLinksWrapper {
      right: -75px;
    }

    .socialLinksBody > ul {
      display: flex;
      flex-wrap: wrap;
      padding: $spacing-s;
      overflow: scroll;

      li {
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        a {
          color: #6d7f92;
        }
      }

      .appWrapper {
        padding: $spacing-xs;
        border: 0.5px solid #eef6ff;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(41, 57, 77, 0.05);
        border-radius: 4px;
        text-align: center;
        text-transform: none;
        cursor: pointer;
        display: block;

        img {
          width: 42px;
          height: 42px;
          margin-bottom: $spacing-xs;
        }
        .appName {
          font-family: $main-body-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: $fiord;
        }

        &:hover {
          background: $alice-pass;
          box-shadow: none;
          border: none;

          .appName {
            color: $dodger-blue;
          }
        }

        &.disabled {
          opacity: 0.35;
          cursor: inherit;
        }
      }
    }
  }

  a {
    padding: 0;
    display: flex;
  }

  .socialLinks {
    &Header {
      background: $athens-gray;
      font-size: 14px;
      text-align: center;
      color: $curious-blue;
      padding: 1.5rem 1rem;
      line-height: 0.2rem;
      font-family: $main-body-font;
      text-transform: none;
      font-weight: normal;

      &_admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &_edit {
        cursor: pointer;

        i {
          font-size: 18px;
        }
      }
    }

    &Body {
      background: $athens-gray;

      & > ul {
        margin: 0 $spacing-xxs $spacing-xxs;
        border-top: 2px solid #fff;
        max-height: 36rem;
        overflow-y: auto;
      }
    }

    &Wrapper {
      top: 45px;
      padding: 0;
      width: 20rem;
      background: $athens-gray;
      position: absolute;
      box-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
      border-radius: 0px 0px 4px 4px;
      margin: 0;
      opacity: 0;
      visibility: hidden;
      // transition: 0.2s all ease-in-out;
      z-index: 1005;
      cursor: default;
    }
  }

  & > .socialLinks {
    padding: 0 0.6rem 0;
    margin: 0 0.12rem;
    position: relative;

    .active::after {
      content: " ";
      width: 8px;
      height: 8px;
      position: absolute;
      border: 1px solid #fff;
      background-color: red;
      bottom: 8px;
      right: 12px;
      border-radius: 50%;
    }

    .subMenuDropdown {
      span {
        font-size: 0.75rem;
        text-transform: none;
      }

      & > li {
        position: relative;
        line-height: 0.2rem;
        padding: $spacing-m $spacing-s $spacing-xxs;
        font-size: 12px;
        color: $pickled-bluewood;
        font-family: $main-body-font;
        text-transform: none;
        font-weight: normal;
        background: #fff;

        &:hover {
          background: $athens-gray-lighter;
          a {
            color: $dodger-blue;
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $athens-gray-lighter;
        }
        a {
          font-size: 0.75rem;
          line-height: 1.1rem;
          text-transform: none;
        }
        &:last-child {
          border-bottom: none;
        }

        &.read {
          a {
            color: #6d7f92 !important;
          }
        }

        &.notRead {
          padding: 1.5rem 1.5rem 0.25rem;
          a {
            color: $pickled-bluewood;
          }
        }

        .infos {
          padding-top: $spacing-xs;
          text-align: right;
          font-family: $main-body-font;
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          color: #6d7f92;
        }
      }
    }
    .e-box-icon {
      width: 2rem !important;
      padding-left: 0.2rem;
      padding-bottom: 0.3rem;
      height: 2rem;
    }
  }

  li {
    padding: 0 0.6rem;
    // transition: nth($transitions, 3);
    &:hover::after {
      background-color: inherit;
    }
    &:hover a {
      color: $fiord;
      border: 0;
    }
  }

  .back_office_button {
    &:hover {
      cursor: pointer;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.notifContent {
  font-size: 12px;
  line-height: 14px;
  color: #6d7f92;
  word-break: break-word;
}
.notReadPoint {
  position: absolute;
  display: block;
  right: 1rem;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2495e1;
}

.appsContainer {
  background-color: #fff;

  .appsColumn {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    min-width: 0;
  }
}

.menuImgWrap {
  width: 2.8rem;
  border-radius: 3rem;
  overflow: hidden;
  height: 2.8rem;
  background-size: cover;
  background-position: 50%;
  flex-shrink: 0;
}

.profile {
  margin: 0;
  .menuDropdown {
    width: 20rem;
    padding: 0;
    background: $athens-gray !important;
    top: 45px;
    right: -5px;
    cursor: initial;

    & > li {
      margin: 1.1rem $spacing-xxs;
    }

    .profileContainer {
      display: flex;
      padding: 0 1rem;
    }

    .menuImgWrap {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: $spacing-xs;
      margin-left: $spacing-xs;
    }

    .infos {
      display: flex;
      flex-direction: column;
      text-transform: none;
      color: $pickled-bluewood;
      font-family: $main-body-font;
      font-weight: 500;
      font-size: 14px;

      .email {
        color: $slate-gray;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
      }
    }

    .social {
      margin-top: 0 !important;
      background: #fff;
      position: relative;
      cursor: default;

      ul {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          font-size: 22px;
          color: $slate-gray;
          cursor: pointer;
          margin: 1rem 0;

          &:not(:last-child) {
            margin-right: $spacing-xs;
          }

          a {
            color: #6d7f92;
          }
        }

        i {
          padding: $spacing-xs;
          &:hover {
            background: $athens-gray;
            border-radius: 50%;
            line-height: 1;
          }
        }
      }

      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 90%;
        position: absolute;
        background: $athens-gray-lighter;
        left: 5%;
      }
    }

    .logout {
      padding: $spacing-xxs;
      text-align: center;
      color: $dodger-blue;
      cursor: pointer;

      &:hover {
        color: $curious-blue;
      }
    }
  }
}

.menuLanguage {
  margin: 0;
  padding: $spacing-m $spacing-s;
  background: #fff;
  margin-bottom: 0 !important;
  cursor: default;

  ul {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    height: 2rem;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: 0 $spacing-xs;
      border: 1px solid $french-pass;
      color: $dodger-blue;
      font-family: $main-body-font;
      font-size: 14px;
      font-weight: normal;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s font-size ease-in-out;

      &:hover,
      &.selected {
        background-color: $dodger-blue;
        color: #fff;
      }
    }
  }
}
.menuProfile {
  margin: 0;
  background: #fff;
  font-family: $main-body-font;

  a {
    color: #29394d;
    white-space: normal;
    padding: 1.5rem 1rem;
    font-family: $main-body-font;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    &:hover {
      background: $athens-gray-lighter;
      color: $tag-color;
    }
  }

  &:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
    background: $athens-gray-lighter;
    top: 4rem;
  }
  ul {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    height: 0.5rem;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      // cursor: pointer;
      transition: 0.2s font-size ease-in-out;
      padding: 1.7rem 9.7rem;
      &:hover {
        background: $athens-gray-lighter;
        a {
          color: $tag-color;
        }
      }
      a {
        font-size: 12px;
      }
    }
  }
}

.footerItems {
  margin: 0;
  background: #fff;
  padding: 1rem;

  .section {
    // min-height: 7.5rem;
    border-bottom: 1px solid #f1f2f4;
    padding-top: 0.688rem;
    padding-bottom: 0.5rem;
    ul li {
      width: fit-content;
      cursor: pointer;
      height: 1rem;
      margin-bottom: 0.625rem;
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: lowercase;
      display: flex;
      align-items: center;
      span::first-letter {
        text-transform: uppercase;
      }
      &:last-child {
        margin-bottom: 0rem;
      }
      &:hover {
        color: #18a0fb;
        .block {
          background-color: #18a0fb;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .block {
    width: 10px;
    height: 6px;
    background: #d8dde2;
    border-radius: 0px 3px 3px 0px;
    margin-right: 1.25rem;
  }
}

.menu__dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0px 4px 4px $shadow-color;
  margin: 0;
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  opacity: 0;
  visibility: hidden;
  // transition: nth($transitions, 2);
  //padding: 0 2rem 1rem;
  background: #fff;
  z-index: 1005;
  width: 24rem;

  .menu__dropdown-top {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(44, 43, 63, 0.1);
    display: flex;
    justify-content: space-between;
    span {
      margin: 0;
      color: #2c2b3f;
    }
    .seeAll {
      transition: nth($transitions, 2);
      color: #95959f;
      font-size: 0.7rem;
      cursor: pointer;

      &:hover {
        color: #2c2b3f;
      }
    }
  }
}
.menu__img,
.menu__hasChild {
  .menu__link {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 62px;

    padding: 0 1rem 0 1rem;
  }
  .menu__dropdown {
    width: 15rem;

    li {
      &:hover > a {
        color: #2c2b3f;
      }
    }
  }
}

.menu__hasChild {
  background-color: $new-very-light-gray;
  position: relative;
  &:hover {
    background-color: #fff;
  }
  &.menu__community {
    &:hover {
      & > span {
        background-color: #fff;
        color: $portal-new-blue;
        box-shadow: 0px 4px 4px $shadow-color;
      }
      i {
        transform: rotate(180deg);
      }
    }
    .menu__subChild {
      padding: 0.75rem 0;
      text-align: center;
      border-bottom: 1px solid rgba(44, 43, 63, 0.1);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(44, 43, 63, 0.1);
      &:hover {
        background-color: $new-very-light-gray;
        a {
          font-weight: 600;
          color: $portal-new-blue;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .menu__dropdown {
    //width: 24rem;
    // left: 0;
    border-top-left-radius: 0;
    font-size: 16px;
    font-weight: 400;

    .menu__dropdown-top {
      border-bottom: none;
      border-top: 1px solid rgba(44, 43, 63, 0.1);
    }
  }

  .menu__subChild {
    &.hidedItem {
      display: none;
      transition: none;
    }
    display: flex;

    .first-letter {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .menu__seeAll {
    padding: 0.75rem 1.5rem;
    text-align: right;
    border-bottom: 1px solid rgba(44, 43, 63, 0.1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(44, 43, 63, 0.1);
    color: #95959f;
    cursor: pointer;
    font-size: 0.7rem !important;
    text-transform: uppercase;
    letter-spacing: 0.06rem;

    a {
      color: #95959f;
      font-size: 0.7rem !important;
    }
  }
  &:hover .menu__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
.menu__community {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;

  .menu__dropdown {
    max-height: 36rem;
    overflow-y: auto;
  }

  i {
    transition: transform 0.2s ease-in-out;
  }
}
.menu__community,
.menu__category {
  .menu__dropdown ul {
    text-transform: none;
    margin: 0;
    border-radius: 0 0 5px 5px;
    a {
      padding: 0;
      width: 100%;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: $h-font-family;
      letter-spacing: 0.06rem;
    }
  }
}

@media screen and (max-width: 63.9375em) {
  .header {
    padding: 0;
    height: 100%;
  }
  .expandable {
    position: initial;

    &::after,
    &::before {
      display: none;
    }
  }
  .headerLeft {
    width: 100%;
    justify-content: space-between;
  }
  .buttons {
    .socialLinks {
      position: initial;
    }
  }

  .headerRight {
    justify-content: flex-end;
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 0;
    .socialLinksWrapper {
      top: 100%;
      width: 100%;
      height: 100%;
    }
    .apps {
      .menuDropdown,
      .socialLinksWrapper {
        right: 0px;
      }
    }
    .notif {
      .menuDropdown,
      .socialLinksWrapper {
        right: 0;
      }
    }
    .profile {
      .menuDropdown {
        width: 100%;
        top: 100%;
        margin-left: -100px;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .menuLogo {
    width: 50%;
  }
  .menu__hasChild {
    width: 46%;
    position: inherit;

    &.menu__community {
      .menu__link {
        font-size: 0.9rem;
      }
      .menu__dropdown {
        width: 100%;
        top: 100%;
      }
      .menu__subChild {
        height: 140px;
        overflow: scroll;
        border-bottom: 0px;
        border-top: 1px solid rgba(44, 43, 63, 0.1);
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(44, 43, 63, 0.1);

        a {
          text-align: center;
          font-size: 10px;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .signIn {
    padding: 0 1rem 0 0;
    text-align: center;
  }
  .settings {
    text-align: center;
    font-family: $main-body-font;
    font-weight: 500;
    font-size: 12px;
    color: $pickled-bluewood;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    width: 100%;

    li {
      position: relative;
    }
  }

  .switchSpace {
    display: none !important;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 57, 77, 0.6);
  z-index: 1000;

  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modalOverlayAfterOpen {
  opacity: 1;
}

.modalOverlayBeforeClose {
  opacity: 0;
}

.modalContent {
  position: absolute;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  overflow: none;
  outline: none;
  padding: 0;

  transition: right 300ms ease-in-out;
}

.modalContentAfterOpen {
  right: 0;
}

.modalContentBeforeClose {
  right: -100%;
}

.modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;

  &_body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    background-color: #ffffff;
    color: #29394d;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  &_header {
    height: 90px;
    background-color: #f1f2f4;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2% 1.5rem 3%;

    h2 {
      line-height: 1.25;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 0 0.5rem;
    }
    p {
      color: #6d7f92;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }
  }

  &_close {
    height: 17px;
    cursor: pointer;
  }

  &_content {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .modal_body {
    width: 50%;
  }
}

.switchSpace {
  display: flex;
  align-items: center;
  position: relative;
  left: 1.25rem;

  span {
    font-size: 12px;
    line-height: 14px;
    border-radius: 2rem;
    text-transform: initial;
    position: relative;
    cursor: pointer;
    transition: color 0.2s ease-in;
    background: #f1f2f4;
  }
  &_left {
    left: 2.5rem;
    padding: 0.6rem 4rem 0.6rem 1.5rem;
  }
  &_right {
    right: 2.5rem;
    padding: 0.6rem 1.5em 0.6rem 4rem;
  }

  &_active {
    color: #fff;
    background: #29394d !important;
    z-index: 1;
    font-weight: 500;
  }
  svg {
    position: relative;
    z-index: 2;
    path {
      fill: #fff;
    }
  }
}

.iconLoading {
  a {
    cursor: initial;
  }
  svg {
    path {
      fill: #e8eaed;
    }
  }
}

.linkLoading {
  color: #ccc;
  cursor: initial !important;
}

.portalSwitch {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  background: #f1f2f4;
  border-radius: 50px;
  width: 255px;
  padding-left: 45px;
  margin-left: 15px;
  cursor: pointer;

  &_iconPortal {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &_iconArrow {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &_dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: 0px 4px 4px $shadow-color;
    margin: 0;
    border-radius: 0.2rem;
    border-top-right-radius: 0;
    opacity: 0;
    visibility: hidden;
    transition: nth($transitions, 2);
    background: #fff;
    z-index: 1005;
    width: 100%;
    max-height: 24rem;
    overflow-y: auto;
  }

  i {
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    .portalSwitch_dropdown {
      opacity: 1;
      visibility: visible;
    }

    .portalSwitch_icon i {
      transform: rotate(180deg);
    }
  }

  &_item {
    cursor: pointer;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid rgba(44, 43, 63, 0.1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(44, 43, 63, 0.1);
    &:hover {
      background-color: $new-very-light-gray;
    }
  }
}

.menu__ua_folder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 0 20px;

  img {
    height: 62px;
  }
}

.buttonLinkImg {
  border: 1px solid #b2bcc6;
  border-radius: 50px !important;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  height: 36px !important;
  width: auto !important;
  margin-right: 0.6rem;
  padding: 0 1rem !important;

  a {
    align-items: center;
  }

  img {
    width: 22px;
    height: 22px;
    margin-right: 8px !important;
  }
}
