@import "~foundation-sites/scss/util/util";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background: linear-gradient(to right, #29394d, #29394db2, #29394d00);
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  width: 753px;
  height: 343px;

  .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;

    .titles {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: calc(100% - 100px);

      .label {
        display: flex;
        align-items: center;
        gap: 10px;

        .text {
          color: #18a0fb;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;

          &.blue {
            color: #18a0fb;
          }

          &.purple {
            color: #6f6cec;
          }

          &.orange {
            color: #f47f4d;
          }

          &.greenTeal {
            color: #14b7ad;
          }

          &.redOrange {
            color: #fb1e5b;
          }

          &.lightBlue {
            color: #bce4fa;
          }
        }
      }

      .title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 36px */
        cursor: pointer;
        transition: text-decoration 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .clientImg {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background: #fff;
      padding: 4px;
      height: fit-content;
      width: fit-content;

      img {
        width: 68px;
        height: 38px;
        object-fit: contain;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 100px);
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
}

.fetching {
  background-color: #fff;
}

// Responsive styling

@include breakpoint(medium down) {
  .wrapper {
    padding: 20px;
    height: 404px !important;
    width: 100% !important;
    max-width: 753px;

    .header {
      .titles {
        .label {
          flex-wrap: wrap;
          .text {
            font-size: 14px;
          }
        }

        .title {
          font-size: 18px;
          width: calc(100% + 100px);
        }
      }
    }

    .body {
      max-width: 100%;
    }

    .footer {
      flex-direction: column;
    }
  }
}
