.speakers {
  display: flex;
  overflow: auto;

  .speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .avatar {
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: linear-gradient(180deg, #18a0fb 0%, #06d9b1 100%);

      .image {
        margin: 2px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    .emptyAvatar {
      background: linear-gradient(
        to bottom right,
        #ddd,
        #ccc,
        #c5c5c5,
        #bbb,
        #b5b5b5,
        #aaa
      );
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 3px 12px 1px rgba(44, 43, 63, 0.1),
        0 0 0 1px rgba(44, 43, 63, 0.13);
      border-radius: 50%;
      border: 2px solid var(--border-color);

      span {
        color: #fff;
        font-weight: bold;
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      min-width: 80px;

      .name {
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
