#adjuster {
  cursor: row-resize;
  height: 1rem;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sun-editor {
  border: none !important;
}

#ttp-editor {
  .sun-editor-editable {
    // font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #29394d !important;
    font-size: 16px !important;
    line-height: 22px !important;
    padding: 16px 10px !important;
    text-align: left;

    p {
      margin-bottom: 16px !important;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      margin: 1rem 0 !important;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
    }
    h4 {
      font-size: 18px;
      line-height: 24px;
    }
    h5 {
      font-size: 16px;
      line-height: 22px;
    }
    h6 {
      font-size: 14px;
      line-height: 20px;
    }
    table {
      width: 100% !important;
    }
    blockquote {
      color: #8a8a8a !important;
      border-width: 0 0 0 1px;
      border-color: #cacaca;
    }
  }

  .sun-editor .se-wrapper {
    border: 1px solid rgba(109, 127, 146, 0.3);
    border-radius: 4px;
    margin-top: 10px;
  }

  .sun-editor .se-toolbar {
    background-color: #fff !important;
    outline: none !important;
  }

  .sun-editor .se-wrapper .se-placeholder {
    padding-left: 10px !important;
  }

  .sun-editor .se-btn:enabled:focus,
  .sun-editor .se-btn:enabled:hover {
    background-color: rgba(109, 127, 146, 0.21) !important;
  }

  .sun-editor .se-btn-module-border {
    background-color: #f1f2f4 !important;
  }

  .sun-editor .se-menu-list li {
    margin: 0 2px !important;
  }

  .sun-editor .se-btn {
    color: #6d7f92 !important;
    background-color: #f1f2f4 !important;
  }

  .sun-editor .se-btn:enabled.active {
    color: #4592ff !important;
  }

  .sun-editor .se-btn-list:disabled,
  .sun-editor .se-btn:disabled,
  .sun-editor button:disabled {
    background-color: #fafafa !important;
  }

  .DraftEditor-root {
    color: #29394d !important;
  }
  .editor-img {
    margin: 0.5rem !important;
  }
  .editor-toolbar {
    border: none !important;

    > div {
      margin-right: 10px !important;
    }

    .rdw-option-wrapper {
      background: #f1f2f4;
      border: none;
      border-radius: 2px;
      min-width: 31px;
      height: 31px;
      margin: 0;

      &:hover {
        box-shadow: none;
        background-color: rgba(109, 127, 146, 0.21);
      }

      &.rdw-option-active {
        box-shadow: none;
        background-color: rgba(109, 127, 146, 0.21);
      }
    }

    .rdw-history-wrapper > div,
    .rdw-list-wrapper > div {
      margin-right: 4px;
    }
    .rdw-link-wrapper {
      .rdw-link-modal {
        right: calc(100% - 60px);
        left: auto;
        height: auto;
      }
      .rdw-link-modal-label {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #3c4e64;
      }
      .rdw-link-modal-input {
        height: auto;
        padding: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        min-height: 30px;
        color: #29394d;
      }
      .rdw-link-modal-target-option {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          line-height: 14px;
        }
      }
      .rdw-link-modal-btn {
        color: #fff;
        background: #18a0fb linear-gradient(180deg, #3baefc, #18a0fb) repeat-x;
        border-color: #18a0fb;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),
          0 1px 1px rgba(0, 0, 0, 0.075);
        &:disabled {
          color: #999;
          background: #ececec linear-gradient(180deg, #efefef, #ececec) repeat-x;
          border-color: #e6e6e6;
        }
        &:nth-child(2) {
          color: #212529;
          background: #fff linear-gradient(180deg, white, #fff) repeat-x;
          border-color: #fff;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),
            0 1px 1px rgba(0, 0, 0, 0.075);
        }
      }
    }
  }

  .DraftEditor-editorContainer,
  .public-DraftEditorPlaceholder-root {
    padding-left: 10px;
  }

  .DraftEditor-editorContainer {
    margin-top: 1rem;
  }

  .public-DraftStyleDefault-block {
    margin: 0;
  }

  .editor-iframeContainer {
    width: 640px;
    height: 360px;
    margin: 0 auto;
  }

  .editor-viframe {
    width: 100%;
    height: 100%;
  }

  .se-custom-quote {
    width: 300px;
  }
  .sun-editor .se-list-layer {
    padding: 6px !important;
    margin-top: 5px;
  }
  .sun-editor .se-submenu .se-form-group input {
    padding: 5px;
  }
  .se-plugin-btn {
    width: 100% !important;
    color: #fff !important;
    border-radius: 5px;
    background: #18a0fb linear-gradient(180deg, #3baefc, #18a0fb) repeat-x;
    border-color: #18a0fb;
  }
}

@keyframes imgRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.ed-img-rotating {
  animation: imgRotation 1s infinite linear;
}

//Plugins
.se-article-embed {
  display: flex !important;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(41, 57, 77, 0.1);
  margin-bottom: 10px !important;
  border-radius: 8px;
  border: none !important;
  outline: none !important;
}
.article-embed-img {
  display: block;
  position: relative;
  color: transparent;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  width: 40%;
  border-radius: 8px 0 0 8px;
}

.article-embed-tmpl {
  position: relative;
  height: 220px;
  width: 60%;
  background-color: #ffffff;
  padding: 1rem !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;

  a {
    text-decoration: none !important;
  }

  .article-embed-cat {
    font-size: 12px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    padding: 4px 14px;
    margin-bottom: auto;
    margin-left: auto;
    background: #eee;
    border-radius: 2px 8px 2px 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(41, 57, 77, 0.1);
  }

  .article-embed-com {
    position: relative;
    z-index: 1;
    height: 20px;
    border-left: 3px solid #eee;
    color: #3c4e64;
    padding-left: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    margin-bottom: 20px;
    font-family: Roboto;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
    color: #29394d;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.266;
  }
}

.ttp-quote {
  position: relative;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #6d7f92;
  border: none !important;
  padding-left: 100px !important;

  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='38' viewBox='0 0 54 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4463 19.375C20.5289 21.4778 21.5702 24.0311 21.5702 27.0351C21.5702 30.039 20.5289 32.6425 18.4463 34.8454C16.3636 36.9481 13.8347 37.9995 10.8595 37.9995C7.8843 37.9995 5.30579 36.9481 3.12397 34.8454C1.04132 32.6425 0 30.039 0 27.0351C0 22.1286 2.13223 16.9718 6.3967 11.5647C10.4855 6.49816 16.1417 2.7943 23.3651 0.453128C24.2041 0.181218 25.1024 0.610679 25.447 1.42249C25.8434 2.35632 25.3594 3.42728 24.4097 3.78384C20.6999 5.1766 17.4724 6.86904 14.7273 8.86117C11.6529 11.0641 9.66942 12.9165 8.77686 14.4185C8.34935 15.1858 9.2348 16.2919 10.1118 16.2416C10.3525 16.2278 10.6017 16.2209 10.8595 16.2209C13.8347 16.2209 16.3636 17.2722 18.4463 19.375ZM46.2645 19.375C48.3471 21.4778 49.3884 24.0311 49.3884 27.0351C49.3884 30.039 48.3471 32.6425 46.2645 34.8454C44.1818 36.9481 41.6529 37.9995 38.6777 37.9995C35.7025 37.9995 33.124 36.9481 30.9421 34.8454C28.8595 32.6425 27.8182 30.039 27.8182 27.0351C27.8182 22.1286 29.9504 16.9718 34.2149 11.5647C38.3037 6.49816 43.9598 2.7943 51.1833 0.453128C52.0223 0.181218 52.9206 0.610679 53.2652 1.42249C53.6616 2.35632 53.1776 3.42728 52.2278 3.78385C48.5181 5.1766 45.2906 6.86904 42.5455 8.86117C39.4711 11.0641 37.4876 12.9165 36.595 14.4185C36.1675 15.1858 37.053 16.2919 37.93 16.2416C38.1706 16.2278 38.4199 16.2209 38.6777 16.2209C41.6529 16.2209 44.1818 17.2722 46.2645 19.375Z' fill='%236D7F92' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    width: 54px;
    height: 38px;
    position: absolute;
    left: 20px;
    top: 20%;
  }

  .ttp-author {
    display: block;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
  }
}
