.avatarContainer {
  display: flex;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.avatarSvg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 6px;
}

.emptyAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #6d7f92;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatarName {
  font-size: 12px;
  line-height: 14px;
  color: #3c4e64;
  margin-bottom: 2px;
}

.avatarSignature {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #6d7f92;
}
