@font-face {
  font-family: "tamtam-sb";
  src: url("../fonts/tamtam-sb.eot?5ha11c");
  src: url("../fonts/tamtam-sb.eot?5ha11c#iefix") format("embedded-opentype"),
    url("../fonts/tamtam-sb.ttf?5ha11c") format("truetype"),
    url("../fonts/tamtam-sb.woff?5ha11c") format("woff"),
    url("../fonts/tamtam-sb.svg?5ha11c#tamtam-sb") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-sb-"],
[class*=" icon-sb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "tamtam-sb" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sb-premium:before {
  content: "\e92a";
}
.icon-sb-arrow-down:before {
  content: "\e927";
}
.icon-sb-stats:before {
  content: "\e91f";
}
.icon-sb-article-edit:before {
  content: "\e920";
}
.icon-sb-print:before {
  content: "\e921";
}
.icon-sb-instagram:before {
  content: "\e922";
}
.icon-sb-timetable-1:before {
  content: "\e923";
}
.icon-sb-share:before {
  content: "\e925";
}
.icon-sb-email:before {
  content: "\e926";
}
.icon-sb-chevron-up:before {
  content: "\e91d";
}
.icon-sb-chevron-down:before {
  content: "\e91e";
}
.icon-sb-feather:before {
  content: "\e919";
}
.icon-sb-article:before {
  content: "\e91a";
}
.icon-sb-newspaper:before {
  content: "\e91b";
}
.icon-sb-author:before {
  content: "\e91c";
}
.icon-sb-facebook:before {
  content: "\e916";
  color: #3b5998;
}
.icon-sb-linkedin:before {
  content: "\e917";
  color: #007ab9;
}
.icon-sb-twitter:before {
  content: "\e918";
  color: #55acee;
}
.icon-sb-magnifier:before {
  content: "\e903";
}
.icon-sb-eye:before {
  content: "\e913";
}
.icon-sb-edit:before {
  content: "\e90e";
}
.icon-sb-megaphone:before {
  content: "\e914";
}
.icon-sb-trash:before {
  content: "\e900";
}
.icon-sb-paper-airplane:before {
  content: "\e915";
}
.icon-sb-earth:before {
  content: "\e912";
}
.icon-sb-thumb-up:before {
  content: "\e90f";
}
.icon-sb-thumb-down:before {
  content: "\e910";
}
.icon-sb-comment:before {
  content: "\e911";
}
.icon-sb-medias:before {
  content: "\e90d";
}
.icon-sb-three-dots:before {
  content: "\e90b";
}
.icon-sb-plus:before {
  content: "\e90c";
}
.icon-sb-close:before {
  content: "\e90a";
}
.icon-sb-check-outline:before {
  content: "\e908";
}
.icon-sb-close-outline:before {
  content: "\e909";
}
.icon-sb-plus-outline:before {
  content: "\e907";
}
.icon-sb-filter:before {
  content: "\e905";
}
.icon-sb-tools:before {
  content: "\e902";
}
.icon-sb-check:before {
  content: "\e901";
}
.icon-sb-settings:before {
  content: "\e904";
}
.icon-sb-folder:before {
  content: "\e906";
}
.icon-sb-star:before {
  content: "\f005";
}
.icon-sb-star-o:before {
  content: "\f006";
}
.icon-sb-spinner:before {
  content: "\e984";
}
.icon-sb-briefcase:before {
  content: "\e924";
}
.icon-sb-menu:before {
  content: "\e928";
}
.icon-sb-more-vertical:before {
  content: "\e929";
}
